team24.json
[
    {
        "id": "70d1a4dcf6111f9b",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7fcefb72455fcac5",
        "type": "mqtt out",
        "z": "70d1a4dcf6111f9b",
        "name": "mqttOut",
        "topic": "mqttToMCU",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fde701c.6c6c3",
        "x": 620,
        "y": 540,
        "wires": []
    },
    {
        "id": "7f8a42bd193413f1",
        "type": "mqtt in",
        "z": "70d1a4dcf6111f9b",
        "name": "mqttIn",
        "topic": "mqttFromMCU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8fde701c.6c6c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "9c6c6dce7ee937db",
                "1bc71f3642099089",
                "a66ce858f3c8412c",
                "4fba1cb74019420a",
                "15d4889626b359a5",
                "d2caa6f258b657fa",
                "06734244ea606bea"
            ]
        ]
    },
    {
        "id": "9c6c6dce7ee937db",
        "type": "debug",
        "z": "70d1a4dcf6111f9b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 620,
        "wires": []
    },
    {
        "id": "643457b21dcc9957",
        "type": "ui_gauge",
        "z": "70d1a4dcf6111f9b",
        "name": "X",
        "group": "dcbd054e3384e46b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "X",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "4fba1cb74019420a",
        "type": "function",
        "z": "70d1a4dcf6111f9b",
        "name": "function 1",
        "func": "var dataArray = msg.payload.split(\",\");\n\nvar floatZ = parseFloat(dataArray[2]);\n\nmsg.payload = floatZ\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 380,
        "wires": [
            [
                "ef365d832f980731",
                "ab01c501559d4b5f"
            ]
        ]
    },
    {
        "id": "f38db130a4a3c72a",
        "type": "debug",
        "z": "70d1a4dcf6111f9b",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "4d8fb782d30d21d5",
        "type": "ui_gauge",
        "z": "70d1a4dcf6111f9b",
        "name": "Y",
        "group": "dcbd054e3384e46b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Y",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "ef365d832f980731",
        "type": "ui_gauge",
        "z": "70d1a4dcf6111f9b",
        "name": "Z",
        "group": "dcbd054e3384e46b",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Z",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "a66ce858f3c8412c",
        "type": "function",
        "z": "70d1a4dcf6111f9b",
        "name": "function 2",
        "func": "var dataArray = msg.payload.split(\",\");\n\nvar floatY = parseFloat(dataArray[1]);\n\nmsg.payload = floatY\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 300,
        "wires": [
            [
                "4d8fb782d30d21d5",
                "f6f2851d8a1cbec0"
            ]
        ]
    },
    {
        "id": "1bc71f3642099089",
        "type": "function",
        "z": "70d1a4dcf6111f9b",
        "name": "function 3",
        "func": "var dataArray = msg.payload.split(\",\");\n\nvar floatX = parseFloat(dataArray[0]);\n\nmsg.payload = floatX\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [
            [
                "643457b21dcc9957",
                "f38db130a4a3c72a"
            ]
        ]
    },
    {
        "id": "15d4889626b359a5",
        "type": "function",
        "z": "70d1a4dcf6111f9b",
        "name": "function 4",
        "func": "var dataArray = msg.payload.split(\",\");\n\nvar floatX = parseFloat(dataArray[0]);\nvar floatY = parseFloat(dataArray[1]);\nvar floatZ = parseFloat(dataArray[2]);\n\nmsg.to = \"\";\n\nif (floatX + floatY + floatZ >= 300)\n{\n    msg.payload = \"Emergency! Fall detected, please contact the user immediately!\";\n    msg.to = \"xli091@seas.upenn.edu\";\n    msg.topic = \"Emergency!\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 460,
        "wires": [
            [
                "178e8030499f92d7",
                "ec8f402b998bedc8"
            ]
        ]
    },
    {
        "id": "f6f2851d8a1cbec0",
        "type": "debug",
        "z": "70d1a4dcf6111f9b",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "ab01c501559d4b5f",
        "type": "debug",
        "z": "70d1a4dcf6111f9b",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "178e8030499f92d7",
        "type": "e-mail",
        "z": "70d1a4dcf6111f9b",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 610,
        "y": 460,
        "wires": []
    },
    {
        "id": "ec8f402b998bedc8",
        "type": "debug",
        "z": "70d1a4dcf6111f9b",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "d2caa6f258b657fa",
        "type": "function",
        "z": "70d1a4dcf6111f9b",
        "name": "function 5",
        "func": "var dataArray = msg.payload.split(\",\");\n\nvar floatX = parseFloat(dataArray[0]);\nvar floatY = parseFloat(dataArray[1]);\nvar floatZ = parseFloat(dataArray[2]);\n\nmsg.topic = \"mqttToMCU\";\n msg.payload = false;\n\nif (floatX + floatY + floatZ >= 300) {\n    msg.payload = true;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 540,
        "wires": [
            [
                "7fcefb72455fcac5",
                "38ab25885e1ac736"
            ]
        ]
    },
    {
        "id": "38ab25885e1ac736",
        "type": "debug",
        "z": "70d1a4dcf6111f9b",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 500,
        "wires": []
    },
    {
        "id": "0ea63ffd18c124f6",
        "type": "inject",
        "z": "70d1a4dcf6111f9b",
        "name": "Simulate in",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "mqttFromMCU",
        "payload": "90.12, 5.22, 93.21",
        "payloadType": "str",
        "x": 320,
        "y": 80,
        "wires": [
            [
                "606824409ca23242"
            ]
        ]
    },
    {
        "id": "606824409ca23242",
        "type": "mqtt out",
        "z": "70d1a4dcf6111f9b",
        "name": "mqttFromMCU",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fde701c.6c6c3",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "e35f153469e66e10",
        "type": "mqtt in",
        "z": "70d1a4dcf6111f9b",
        "name": "",
        "topic": "mqttToMCU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8fde701c.6c6c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 720,
        "wires": [
            [
                "9d161674d1b50ed9",
                "4820c3e886f04f17"
            ]
        ]
    },
    {
        "id": "9d161674d1b50ed9",
        "type": "ui_led",
        "z": "70d1a4dcf6111f9b",
        "order": 3,
        "group": "dcbd054e3384e46b",
        "width": 0,
        "height": 0,
        "label": "Free Fall Detection Indicator",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 610,
        "y": 720,
        "wires": []
    },
    {
        "id": "4820c3e886f04f17",
        "type": "debug",
        "z": "70d1a4dcf6111f9b",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 660,
        "wires": []
    },
    {
        "id": "fdded08ffa2117c7",
        "type": "mqtt out",
        "z": "70d1a4dcf6111f9b",
        "name": "",
        "topic": "OTAFU",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fde701c.6c6c3",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "6b4deec9700c696c",
        "type": "debug",
        "z": "70d1a4dcf6111f9b",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "fe575655a3bb7f7c",
        "type": "ui_button",
        "z": "70d1a4dcf6111f9b",
        "name": "",
        "group": "dcbd054e3384e46b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OTAFU Button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "pressed",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "fdded08ffa2117c7",
                "6b4deec9700c696c"
            ]
        ]
    },
    {
        "id": "06734244ea606bea",
        "type": "debug",
        "z": "70d1a4dcf6111f9b",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 140,
        "y": 280,
        "wires": []
    },
    {
        "id": "8fde701c.6c6c3",
        "type": "mqtt-broker",
        "name": "AzureMqttBroker",
        "broker": "20.242.125.234",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dcbd054e3384e46b",
        "type": "ui_group",
        "name": "Accelerometer GUI",
        "tab": "092586ed18cd7343",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "092586ed18cd7343",
        "type": "ui_tab",
        "name": "T24",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]